#carousel.carousel.slide.carousel-fade(data-ride='carousel')
    .carousel-inner
        .head-logo
            h1 ACORNS
            h3 pre-school and Toddlers
        .carousel-item.active 
            img(src="img/1.jpg").d-block.w-100
        .carousel-item
            img(src="img/2.jpg", alt="").d-block.w-100
        .carousel-item
            img(src="img/3.jpg", alt="").d-block.w-100
