#carousel.carousel.slide.carousel-fade(data-ride='carousel' data-interval='15000')
	.carousel-inner
		.head-logo
			h1.wow.fadeIn(data-wow-delay=".5s") ACORNS
			h3.wow.fadeInDown(data-wow-delay="1.5s") pre-school and Toddlers
		.carousel-item.active 
			img(src="img/1.jpg").d-block.w-100
		.carousel-item
			img(src="img/2.jpg", alt="").d-block.w-100
		.carousel-item
			img(src="img/3.jpg", alt="").d-block.w-100
