footer.bg-dark
	.container
		.row
			.col-12.py-3
				h2.text-light.ml-3.wow.fadeIn A C O R N S
				p.text-light A traditional cummunity run Pre-School in a rural village setting.
			.col-4.col-md-4
				#sharebtn
					a.d-shadow(href="#" data-toggle="modal" data-target="#share")
						button.btn.d-shadow.my-3 Share 
							span.fa.fa-share-alt
			.col-8.col-md-4#social.d-flex.justify-content-around.align-items-center
				a(href="")
					i.fab.fa-facebook
				a(href="https://wa.me/")
					i.fab.fa-whatsapp
				a(href="")  
					i.fab.fa-instagram
				a(href="")
					i.fab.fa-youtube
				a(href="")
					i.fab.fa-twitter
			.col.col-md-4.d-flex.justify-content-end.align-items-end
				p.text-light.far.fa-copyright.pb-2
				p.text-light.ml-2#copy 
include ../includes/share
#cookies
	.container
		.row
			.col-lg-10
				p This site uses cookies to personalize your experience, analyze site usage, and offer tailored promotions. #[a(href="http://www.youronlinechoices.com/uk/") Your Online Choices]
			.col-lg-2
				button#cookie.btn.btn-success.d-shadow.ripple I ACCEPT
			
// JQuery js
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
// Bootstrap js
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
// Materalize js
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
// Wow js
script(src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js")
// Main js
script(src="js/main.js")

