nav.navbar.navbar-expand-sm.navbar-dark.bg-dark
	.container
		a(href='#').navbar-brand.wow.fadeInDown A C O R N S
			img(src="img/logo.png", alt="Alderton Acorns Pre-School Logo" title="Alderton Acorns Pre-School")
		button(type='button' data-toggle='collapse' data-target='#navbar' aria-controls='navbar' aria-expanded='false' aria-label='Toggle navigation').navbar-toggler
			span.navbar-toggler-icon
		.collapse.navbar-collapse.justify-content-end#navbar
			ul.navbar-nav
				li.nav-item
					a(href="#home").nav-link Home
				li.nav-item
					a(href="#about").nav-link About
				li.nav-item
					a(href="#times").nav-link Opening Times
				li.nav-item
					a(href="#contact").nav-link Contact



