.img-banner
  height: auto
  width: 100%
  background-image: url(../img/5.jpg)
  background-attachment: fixed
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  overflow: hidden
  .container
    .bannerBg
      display: flex
      flex-direction: column
      justify-content: center
      border-radius: 8px
      background: linear-gradient(-160deg, #8facce 18%, rgba(255,255,255,0.8))
      &:hover
        h1
          animation-name: tada
          animation-duration: 1s
      @media (max-width: 768px)
        margin: 15px 0