.times
    h3
        overflow: hidden
    li
        list-style: none
hr
	width: 100%
	height: 8px
	background: linear-gradient(to right, #deac33 25%, #8facce 25%, #8facce 50%, #903487 50%, #903487 75%, #3e6d81 75%)
	margin: 0
	padding: 0
	border: 0
	clear: both

#contact
    .btn
        padding: 1rem 2rem
        box-shadow: 0 20px 6px -15px #000
        transition: all ease-in-out 300ms
        border: 0
        &:hover
            transform: translateY(3px)
            box-shadow: 0 10px 6px -7px #000
    .btn-success
        background: linear-gradient(-8deg, lighten(#3e6d81, 25%) 0%, #3e6d81 100%)
    @media ( max-width: 768px )
        margin-bottom: 30px
p
    a
        color: darken(#8facce, 15%)
        transition: all ease 300ms
        &:hover
            text-decoration: none
            color: darken(#8facce, 40%)