.img-banner
    height: 300px
    background-image: url(../img/5.jpg)
    background-attachment: fixed
    background-repeat: no-repeat
    background-size: cover
    background-position: center
.times
    li
        list-style: none