#contact
    .btn
        padding: 1rem 2rem
        letter-spacing: .35rem
        text-shadow: -2px 2px 2px #000
        box-shadow: 0 20px 6px -15px #000
        transition: all ease-in-out 300ms
        border: 0
        &:hover
            transform: translateY(3px)
            box-shadow: 0 10px 6px -7px #000
    .btn-success
        background: linear-gradient(-8deg, lighten(#3e6d81, 25%) 0%, #3e6d81 100%)
    @media ( max-width: 768px )
        margin-bottom: 30px