<!DOCTYPE html>
html(lang="en")
    head
        include includes/head
        title H o m e
    body#home(data-spy="scroll" data-target="#navbar" data-offset="300")
        include includes/nav
        include includes/carousel
        .container
            .row
                h1.mt-3.wow.fadeIn.d-block Welcome to Alderton Acorns
            .row
                h3.text-muted.pb-1.pl-4.wow.fadeIn.d-block Pre-School and Toddlers
            .row#about
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis deleniti, obcaecati libero, odit, adipisci dolor dicta voluptatem saepe suscipit exercitationem distinctio. Iste repudiandae repellendus accusantium natus in libero quaerat consectetur magnam fuga! Veniam molestiae in itaque aut. Reiciendis debitis maxime sapiente alias vero corporis! Illo asperiores natus aliquam necessitatibus ea eaque aperiam corrupti in repudiandae amet! Tenetur dicta accusamus nihil dolore eum, facilis sapiente alias eos, neque quis commodi modi!
        img(src="https://placeimg.com/1000/600/people", class="img-fluid shadow-sm mb-3 w-100")
        .container
            .row
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem porro omnis illum voluptatum praesentium ex ab ducimus incidunt facilis accusantium, fugiat assumenda quas consequatur unde soluta ipsa nemo at repudiandae. Voluptates in provident culpa. Harum, veniam temporibus at repudiandae ullam accusamus. Neque deleniti beatae consequatur facilis hic doloremque inventore harum vero molestiae laboriosam porro laborum, ducimus saepe? Similique iure molestiae magni autem sequi. Eum alias nulla, totam, explicabo a ad dicta magnam voluptatem et voluptatibus commodi. Exercitationem placeat illo velit? Ipsam nam ullam veritatis repudiandae molestiae, neque autem quos enim.
        
        include includes/footer