<!DOCTYPE html>
html(lang="en")
    head
        include includes/head
        title H o m e
    body#home(data-spy="scroll" data-target="#navbar" data-offset="300")
        include includes/nav
        include includes/carousel
        .container
            .row
                h1.mt-3.wow.fadeIn.d-block Welcome to Alderton Acorns
            .row
                h3.text-muted.pb-1.pl-4.wow.fadeIn.d-block Pre-School and Toddlers
            .row#about
                p Alderton Acorns Pre-School Group is open to children from 2 years 6 months up to 5 years. Children join us to have fun and to learn, through play, the individual skills needed to enter school confidently and enthusiastically. Sessions run from 9am to 1pm Monday to Thursday during term time.
                p ​Children usually start with two sessions per week and build up to more when they are ready.  For children in their pre-school year we include special study groups where they can concentrate on more structured play and pre-reading/writing skills.
        img(src="https://placeimg.com/1000/600/people", class="img-fluid shadow-sm mb-3 w-100 img-banner")
        .container
            .row
                p The Pre-School meets at Alderton Village Hall, which is bright, spacious and centrally heated.  There are special toilet facilities, a kitchen for cookery and preparation of snacks for the children and two outside play areas. We also have our own large range of play equipment which is constantly updated and added to.
                p Your play leader's hold Postgraduate Certificate in Education (PGCE) and Alderton Acorns is registered and approved by Social Services. We are also a member of Gloucestershire Playgroup and Toddler Association (PATA).
            .row
                h1.mt-3.wow.fadeIn Time Table
            .row
                h3.pl-3.pb-1.wow.fadeIn Our Pre-school is open to children from 2.5 - 5 yrs:
            .row
                ul
                    li
                        p Monday to Wednesday - Pre-School - 9am - 3pm.
                    li
                        p Thursday - Forest School - 9:00 - 11:00.
                    li
                        p Friday - Toddler group - 10am -12pm.
        include includes/footer