<!DOCTYPE html>
html(lang="en")
		head
			include includes/head
			title Alderton Acorns - H o m e
		body#top
			.home-nav
				a(href="#top")
					span.fas.fa-arrow-up
			include includes/nav
			include includes/carousel
			hr
			include includes/about
			hr
			include includes/contact
			hr
			#googleMap.wow.fadeIn(data-wow-offset="100")
			hr
			include includes/img_banner
			hr
			include includes/footer