<!DOCTYPE html>
html(lang="en")
		head
			include includes/head
			title Alderton Acorns - H o m e
		body#top
			.home-nav
				a(href="#top")
					span.fas.fa-arrow-up
			include includes/nav
			include includes/carousel
			hr
			include includes/about
			hr
			include includes/contact
			hr
			iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19651.882944826735!2d-1.9970720000000026!3d51.99803300000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcda29ce812999303!2sAlderton%20Village%20Hall!5e0!3m2!1sen!2sus!4v1648730276491!5m2!1sen!2sus" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" frameborder="0")#googleMap.wow.fadeIn(data-wow-offset="100")
			hr
			include includes/img_banner
			hr
			include includes/footer